html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.m-t-150{
  margin-top: 150px;
}

table{
width: 100%;
}

table thead{
  color: black;
  font-weight: bold;
}

table td, table th{
  border: 1px solid gray;
  margin: 0px;
  padding: 0px;
}
div.menu{
  text-align: right;
}
div a.btn-menu{
  text-decoration: none;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  padding: 10px;
}
p.error-message{
  color: red;
}