<template>
    <div>
        <form>
            <p>Url larga:</p>
            <input type="text" name="long_url" v-model="longUrl">
            <button type="button" @click="shortUrl">Acortar</button>
            <div v-if="emptyUrlError">
                <p class="error-message">Ingrese URL válida</p>
            </div>
        </form>
        <p><a :href="urlGenerated" target="_blank">{{urlGenerated}}</a></p>
    </div>


</template>

<script>
    export default {
        data () {
            return {
                longUrl: "",
                urlGenerated: "",
                emptyUrlError: false
            }
        },
        name: "FormCreateShortUrl",
        mounted(){
            console.log("Component mounted");
        },
        methods: {
             shortUrl: function() {
                 this.emptyUrlError = false;
                if(!_.isEmpty(this.longUrl)){
                    this.generateUrl();
                }else{
                    this.showWarning();
                }
            },
            generateUrl: function () {
                var _this = this;
                axios.post(window.apiUrl + 'url', {
                    long_url: this.longUrl
                })
                    .then(function (response) {
                        _this.urlGenerated = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            showWarning: function () {
                this.emptyUrlError = true;
            }
        }

    }
</script>

<style scoped>

</style>