<template>
    <div>
        <form>
            <p>Seleccione archivo .txt</p>
            <input type="file" name="file" @change="uploadFile">
            <p v-if="showError" class="error-message">{{error}}</p>
        </form>
        <br>
        <br>
        <div>

            <div id="example-2" v-if="urlsGenerated.length > 0" style="width:100%" class="center">
                <table>
                    <thead>
                    <tr>
                        <td>Long Url</td>
                        <td>Short Url</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="url in urlsGenerated">
                        <td>{{url.long_url}}</td>
                        <td><a :href="url.short_url" target="_blank">{{url.short_url}}</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>


</template>

<script>
    export default {
        data () {
            return {
                longUrl: "",
                file: null,
                urlsGenerated: [],
                showError: false,
                error:""

            }
        },
        name: "FormCreateShortUrl",
        mounted(){
            console.log("Component mounted");
        },
        methods: {
            uploadFile: function() {
                this.urlsGenerated = [];
                this.showError = false;
                var _this = this;
                this.file = event.target.files[0];
                if(this.validaArchivo()){
                    this.storeUrls()
                    //console.log("type"+ this.file.type)
                }else{
                    this.showWarning();
                }

            },
            showWarning: function(){
                this.showError = true;
                if(this.file == null){
                    this.error = "Seleccione archivo";
                }
                if(this.file.type !== "text/plain"){
                    this.error = "El archivo tiene que ser .txt";
                }
            },
            validaArchivo: function(){
                let valido = false;
                if(this.file != null && this.file.type === "text/plain"){
                    valido = true;
                }

                return valido;
            },
            storeUrls: function () {
                let _this = this;
                let formData = new FormData();
                formData.append('file', this.file);

                axios.post( window.apiUrl + 'url/file',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(response){
                    _this.urlsGenerated = response.data;
                    console.log(response.data);
                })
                    .catch(function(error){
                        console.log(error);
                    });

            }

        }

    }
</script>

<style scoped>

</style>