<template>
    <div>
        <h1>All URLs  </h1>

        <div v-if="allUrls.length > 0">

            <button @click="descargarArchivo">Descargar CSV</button>
            <br><br>

            <table style="width:100%">
                <tr>
                    <th>Long url</th>
                    <th>Short url</th>
                </tr>
                <tr v-for="url in allUrls">
                    <td>{{url.long_url}}</td>
                    <td><a :href="url.shortLink" target="_blank">{{url.shortLink}}</a></td>
                </tr>

            </table>
        </div>

        <div v-else>
            Aún no hay datos para mostrar
        </div>

    </div>

</template>

<script>
    export default {
        data () {
            return {
                allUrls: [],

            }
        },
        name: "ListUrl",
        mounted(){
            this.loadUrls();
        },
        methods: {
            loadUrls: function() {
                var _this = this;
                axios.get(window.apiUrl + 'url/find')
                    .then(function (response) {
                        _this.allUrls = response.data;

                        //Formatear URL
                        _.forEach(_this.allUrls, function(url) {
                            url.shortLink = window.apiUrl+'url/'+url.short_url;
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            descargarArchivo: function () {
                var _this = this;
                window.location.href = window.apiUrl + 'url/file/download';

            }

        }

    }
</script>

<style scoped>

</style>